<launch>
    <node pkg="pose_remap"
          name="remap_pose_node"
          type="remap_pose_node"
          args=
		"
        	  --wait_input=false
        	  --input_topic_type=PoseWithCovarianceStamped
	          --input_topic_name=/ov_msckf/poseimu
	          --output_topic_name=/mavros/vision_pose/pose
                --T_map_global_y=1.57079632
                --R_imu1_imu0_p=1.57079632
                --R_body_imu1_r=1.57079632
                --output_frame_id=map
                --output_with_cov=false
                --output_hz=50
		"
          output="screen"
          required="true">
    </node>
</launch>
